﻿@{
    ViewBag.Title = "ExportExcel";
}


<html>

<head>
    <script src="~/Scripts/eledger2/Map.js"></script>    
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <script type="text/javascript" src="~/Scripts/eledger2/jquery-1.10.1.min.js"></script>
    <link rel="Stylesheet" href="~/Content/themes/base/allstyle.css" type="text/css" />
    <link href="~/Content/jquery.jqGrid/ui.jqgrid.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/eledgercss.css" rel="stylesheet" />
    <link href="~/Content/themes/base/allstyle.css" rel="stylesheet" />
    <base target="_self" />
    <title>Excel Export</title>
</head>
<body>
    <form id="form1" runat="server">
        <div style="border: solid 1px black;">
            <table style="font-family: Verdana; font-size: 11px; text-align: center;padding:10px 10px 10px 0px; height:65%;width:100%;border:thick;" border="1">
                <tr><td style="height: 25px;background-color:Beige;text-align:center" colspan="2">Continue with generating an Excel file?</td></tr>
                <tr>
                    <td style="height: 25px;text-align:center;" colspan="2">File Name:<span style="font-weight: bold;">NearBy_@ViewBag.uln<span>.xls</span></span></td>
                </tr>
                <tr>
                    <td style="text-align: center;" colspan="2">
                        <span style="padding-right:10px;">
                            <input type="button" style="font-size: x-small; font-weight: bold;width:60px" onclick="exportexcel('@ViewBag.uln','@ViewBag.loctype','@ViewBag.distance')" value=" Ok " />
                    </span>
                    
                        <input type="button" class="buttonPW" value="Close" onclick="closeMe();" />
                </tr>
            </table>

        </div>

    </form>
</body>
</html>
