﻿<!DOCTYPE html>
<html class="no-js">
<head>
    <meta charset="utf-8">    
    <meta name="viewport" content="width=device-width">
    <title>Access Denied</title>
</head>
<body>
		<table id="Table2">
			<tr>
				<td id='Td1' width="70"  valign="top" align="right">
                    <br />
                    <img src="/eledger2/Images/pagerror.png" alt="X" />
				</td>
				<td id='Td2' width="600" align="left">
				    <br/>
					<h1 id="H1_1" style='FONT:14pt/16pt verdana; COLOR:#4e4e4e'>
					    Error or Access Denied
					</h1>
				    <hr size="1" color='blue'/>
				    <br/>
					<font style='FONT:9pt/12pt verdana; COLOR:black'>
				    An error has occurred or you do not have sufficient access to view the requested page.<br />
					<br />
					<strong>Note:</strong> If you feel you have reached this page in error, please contact the <a href="mailto:itservicedesk@washlaundry.com?Subject=eLedger%20Access%20Issue" target="_self">IT Service Desk.</a><br />
					<br/>
					Tell them the following:<br />
                    <br />
                    <b>User Login:</b><br />
                    @System.Security.Principal.WindowsIdentity.GetCurrent().Name<br />
                    <br />
                    <b>Application:</b><br />
                    @System.Web.HttpRuntime.AppDomainAppPath.ToString()AccessDenied.cshtml<br />                                            
					</font>
				</td>
			</tr>
		</table>
</body>
</html>