﻿   <tr class="searchuln">
    #if (Status !="Installed") {
    if(PropertyName !="")
    {#
    <td style="font-family: Verdana,Arial,sans-serif;line-height: 140%; font-size: 97%;"><a id="ULN_#=ULN#" href="\\#getLocDetail/#=ULN#" title="#=ULN# #=PropertyName# #=Address#, #=State#  #=Zip#"><font color=red>#=ULN#</font></a> - (#=Status#)<br>#=PropertyName#<br>#=Address#<br>#=City#, #=State# #=Zip#</td>
    #}
    else if (Address != "")
    {#
    <td style="font-family: Verdana,Arial,sans-serif;line-height: 140%; font-size: 97%;"><a id="ULN_#=ULN#" href="\\#getLocDetail/#=ULN#" title="#=ULN# #=PropertyName# #=Address#, #=State#  #=Zip#"><font color=red>#=ULN#</font></a>- (#=Status#)<br>#=Address#<br>#=City#, #=State# #=Zip#</td>
    #}
    else{#
    <td style="font-family: Verdana,Arial,sans-serif;line-height: 140%; font-size: 97%;">
        <a id="ULN_#=ULN#" href="\\#getLocDetail/#=ULN#" title="#=ULN# #=PropertyName# #=Address# , #=State#  #=Zip#"><font color=red>#=ULN#</font></a>- (#=Status#)<br>#=City#, #=State# &nbsp #=Zip#
    </td>    
       #} 
       } 
    else{
    if(PropertyName !="")
    {#
    <td style="font-family: Verdana,Arial,sans-serif;line-height: 140%; font-size: 97%;"><a id="ULN_#=ULN#" href="\\#getLocDetail/#=ULN#" title="#=ULN# #=PropertyName# #=Address#, #=State#  #=Zip#"><font color=blue>#=ULN#</font></a><br>#=PropertyName#<br>#=Address#<br>#=City#, #=State# #=Zip#</td>
    #}
    else if (Address != "")
    {#
    <td style="font-family: Verdana,Arial,sans-serif;line-height: 140%; font-size: 97%;"><a id="ULN_#=ULN#" href="\\#getLocDetail/#=ULN#" title="#=ULN# #=PropertyName# #=Address#, #=State#  #=Zip#"><font color=blue>#=ULN#</font></a><br>#=Address#<br>#=City#, #=State# #=Zip#</td>
    #}
    else
    {#
    <td style="font-family: Verdana,Arial,sans-serif;line-height: 140%; font-size: 97%;"><a id="ULN_#=ULN#" href="\\#getLocDetail/#=ULN#" title="#=ULN# #=PropertyName# #=Address#, #=State#  #=Zip#"><font color=blue>#=ULN#</font></a><br>#=City#, #=State# #=Zip#</td>
    #}
    }#
</tr>
