﻿ <tr>
                #if(PropertyName !="")
                {#
                <td style="font-family: Verdana,Arial,sans-serif;line-height: 140%; font-size: 97%;"><a href="\\#getLocDetail/#=ULN#/#=PropertyName#" title="#=ULN# #=PropertyName# #=Address# , #=State#  #=Zip#" onclick='AlertSearchULN("#=ULN#")'><font color=blue>#=ULN#</font></a><br>#=PropertyName#<br>#=Address#<br>#=City#, #=State# #=Zip#</td>
                #}
                else if (Address != "")
                {#
                <td style="font-family: Verdana,Arial,sans-serif;line-height: 140%; font-size: 97%;"><a href="\\#getLocDetail/#=ULN#/#=PropertyName#" title="#=ULN# #=PropertyName# #=Address# , #=State#  #=Zip#" onclick='AlertSearchULN("#=ULN#")'><font color=blue>#=ULN#</font></a><br>#=Address#<br>#=City#, #=State# #=Zip#</td>
                #}
                else{#
                <td style="font-family: Verdana,Arial,sans-serif;line-height: 140%; font-size: 97%;">
                    <a onclick='AlertSearchULN("#=ULN#")' href="\\#getLocDetail/#=ULN#/#=PropertyName#" title="#=ULN# #=PropertyName# #=Address# , #=State#  #=Zip#"><font color=blue>#=ULN#</font></a><br>#=City#, #=State# #=Zip#
                </td>
                #}#

            </tr>