﻿#if (data.SubType == "")
{#
#if ((data.DisplayText != "New"))
{#
<tr>
    <td class="lable">
        <a href="javascript:void(0);" onclick="showAlertSearchDetails('#=data.DisplayText#','All');" onmouseout="window.status=''" class="cL plapt" onmouseover="window.status=''; return true;">
            #if (data.CategoryCount == 0)
            {#
            #=data.DisplayText#
            #}
            else
            {#
            (#=data.DisplayText#  Alerts)
            #}#
        </a>
    </td>
    <td>
        <span style="border-bottom-style: dotted; border-width: 0 0 1px 0; border-color: \\#555; margin-left: 6px; margin-right: 12px; zoom: 1; width: 100%;"></span>
    </td>
    <td class="lable">(<span style="font-weight: bold;">#=data.CategoryCount#</span>)</td>
</tr>
#}#
#}#
#if (data.SubType != "")
{#
  #if ((data.DisplayText != "Future") && (data.DisplayText != "History"))
  {#
  <tr>
    <td style="font-size: 12px; white-space: nowrap; font-weight: normal;" colspan="3">
        <a href="javascript:void(0)" onclick="showAlertSearchDetails('#=data.DisplayText#','#=data.SubType#'); return true;" onmouseout="window.status=''" class="cL plapt" onmouseover="window.status=''; return true;">#=data.DisplayText#</a>
    </td>
  </tr>
  #}#
<tr>

    <td style="font-size: 12px; white-space: nowrap; font-weight: normal;" colspan="2">
        <a href="javascript:void(0)" onclick="showAlertSearchDetails('#=data.DisplayText#','#=data.SubType#'); return true;" onmouseout="window.status=''" class="cL plapt" onmouseover="window.status=''; return true;" style="font-weight: normal;">#=data.SubType#</a>
    </td>
    <td style="font-size: 11px; white-space: nowrap; text-align: right; font-weight: normal;">
        (<span style="font-weight: bold;">#=data.CategoryCount#</span>)
    </td>
</tr>
    
#}#

