﻿
                                        <tr>
                                        <td>
                                        <table><tr>
                                            <td class="lable">Total Count-As:</td>
                                            <td>#=TotPhysicalCountAs#</td>
                                        </tr>
                                        <tr>
                                            <td class="lable">Avg. Time on Loc:	</td>
                                            <td>#=AvgTimeOnLoc_Fmt#</td>
                                        </tr>
                                        <tr>
                                            <td class="lable">Avg. Machine Age:</td>
                                            <td>#=AvgMachineAge_Fmt#</td>
                                        </tr>
                                        <tr>
                                            <td class="lable">Est. Cycles per Day:	</td>
                                            <td>#=AvgCyclesPerDayPerMachine_Fmt#</td>
                                        </tr>
                                        </table></td>
                                    <td>    <table><tr>
                                            <td class="lable">Total Completed Service Calls:</td>
                                            <td>#=TotCalls_Fmt#</td>
                                        </tr>
                                        <tr>
                                            <td class="lable">Total Machine Repairs:</td>
                                            <td>#=TotRepairs_Fmt#</td>
                                        </tr>
                                        <tr>
                                            <td class="lable">Est. Cycles per Call:</td>
                                            <td>#=AvgCyclesPerCall_Fmt#</td>
                                        </tr>
                                        <tr>
                                            <td class="lable">Calls per Machine:</td>
                                            <td>#=CallsPerMachine_Fmt#</td>
                                        </tr>
                                        </table></td>
                                    <td>    <table><tr>
                                    

                                        
                                            <td class="lable">Avg. Response Time:	</td>
                                            <td>#=AvgResponseTime_Fmt#</td>
                                        </tr>
                                        <tr>
                                            <td class="lable">Service Goal:</td>
                                            <td>#=ServiceGoal_Fmt#</td>
                                        </tr>
                                        <tr>
                                            <td class="lable">Proximity</td>
                                            <td>#=Proximity_Fmt#</td>
                                        </tr>
                                        <tr>
                                            <td class="lable">Risk</td>
                                            <td>#=Risk_Fmt#</td>
                                        </tr>
                                       </table></td>
                                    <td>    <table><tr>
                                    
                                        
                                            <td class="lable">On-Site Refunds:	</td>
                                            <td>#=TotRefundExpense_Fmt#</td>
                                        </tr>
                                        <tr>
                                            <td class="lable">Total Parts:</td>
                                            <td>#=TotPartsExpense_Fmt#</td>
                                        </tr>
                                        <tr>
                                            <td class="lable">Total Clothes Claims:</td>
                                            <td>#=TotClaimsExpense_Fmt#</td>
                                        </tr>
                                        <tr>
                                            <td class="lable">Total Expenses:	</td>
                                            <td>#=TotExpenses_Fmt#</td>
                                        </tr>
                                            </table></td>
                                    
                                        
                                        </tr>
                                    